<main class="relative min-h-screen w-full">

    <div class="p-6" x-data="app">
    
      <form action="/login" method="POST"
        class="absolute top-1/2 left-1/2 mx-auto max-w-sm -translate-x-1/2 -translate-y-1/2 transform space-y-4 text-center"
      >
        
        <div x-show="!isLoginPage" class="space-y-4">
          <header class="mb-3 text-2xl font-bold">Inicio de sesión</header>
          <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
            <input
              type="text"
              placeholder="Correo"
              name="correo"
              id="correo"
              class="my-3 w-full border-none bg-transparent outline-none focus:outline-none"
            />
          </div>
          <div
            class="w-full items-center space-x-2 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200"
          >
            <input
              type="password"
              placeholder="Contraseña"
              name="contrasena"
              id="contrasena"
              class="fos:outline-none my-3 w-full border-none bg-transparent outline-none"
            />
           
          </div>
          <div>
            <a href="#" class="font-medium text-gray-400 hover:text-gray-500">
                ¿Olvidaste tu contraseña?
            </a>
          </div>
          <button
            class="w-full rounded-2xl border-b-4 border-b-green-600 bg-green-500 py-3 font-bold text-white hover:bg-green-400 active:translate-y-[0.125rem] active:border-b-green-400"
          >
            Iniciar Sesión
          </button>
        </div>
  
        <div class="flex items-center space-x-4">
          <hr class="w-full border border-gray-300" />
          <div class="font-semibold text-gray-400">O</div>
          <hr class="w-full border border-gray-300" />
        </div>
  
        <footer>
          <div class="w-full">
            <!-- <a
              href="#"
              class="rounded-2xl border-b-2 border-b-gray-300 bg-white py-2.5 px-4 font-bold text-blue-700 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200"
              >FACEBOOK</a
            >
            <a
              href="#"
              class="rounded-2xl border-b-2 border-b-gray-300 bg-white py-2.5 px-4 font-bold text-blue-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200"
              >GOOGLE</a
            > -->
            <a class="text-blue-600 hover:text-blue-500" href="/register">
                ¿No tienes una cuenta? ¡Regístrate ahora!
            </a>
          </div>
  
          <div class="mt-8 text-sm text-gray-400">
            Iniciando sesión acepta nuestros
            <a href="#" class="font-medium text-gray-500">Términos</a> y
            <a href="#" class="font-medium text-gray-500">Condiciones</a>.
          </div>
        </footer>
      </form>
    </div>
  </main>